body {
  margin: 0;
  background: #f20000;
}

header {
  background: #ff2c39;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 4vw;
  padding-top: 1.76vw;
}

nav a {
  color: white;
  font-size: 1.45137vw;
  text-decoration: none;
  margin-right: 2vw;
}

.secundNav {
  display: flex;
  justify-content: space-between;
  padding: 0 5.3vw;
  align-items: baseline;
  padding-bottom: 1vw;
  margin-top: -1.55vw;
}

.logo-container {
  display: flex;
  position: relative;
  top: 1vw;
}

.logo {
  width: 5.611998064828253vw;
  height: 5.660377358490567vw;
}

.logo-description-container h1 {
  color: white;
  font-family: serif;
  margin: 0;
  font-size: 2.902757vw;
  position: relative;
  top: -2vw;
  left: 0.5vw;
}

.logo-description-container h1 span {
  font-weight: 100;
  font-size: 1.741654571vw;
  position: relative;
  top: 0.81vw;
}

.addYourIssuebox {
  display: flex;
  border: 0.2vw solid white;
  height: 3.214465vw;
  align-items: center;
}

.addYourIssuebox p {
  color: white;
  font-size: 1.4513788vw;
  margin: 0;
  padding: 0 2.75vw;
}

.addYourIssuebox span {
    font-size: 1.6vw;
}

.donate {
  color: #ff2c39;
  background: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.209482vw;
  font-weight: 600;
  padding: 0 0.51vw;
  cursor: pointer;
}

/* main */
main {
  position: relative;
}

.portfoContent{
  width: 100%;
  display: flex;
  height: 38vw;
  /* flex-basis: 0; */
}
.portfoBox{
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  /* flex-basis: 100%; */
  width: 20%;
  overflow: hidden;
  height: 100%;
  /* flex-shrink: 0; */
  /* align-items: center; */
  /* flex-basis: 0; */
  /* flex-grow: 1; */
}
.portfoBox:hover{
  width: 24%;
}


.portfoBox img{
  transition: all 1s ease;
  /* width: 100%; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.portfoBox:hover img{
  cursor: pointer;
}


.portBoxOverlay{
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.nameOfPerson{
  transition: 0.5s ease;
  font-family: 'Roboto-Black.ttf';
  color: white;
  font-size: 3.4833vw;
  writing-mode:tb;
  margin: 0;
  opacity: 0.07;
}
.portfoBox:hover .nameOfPerson{
  opacity: 1;
}


/* main end */
