* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f20000;
}

header {
  background: #ff2c39;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 3.3vw;
  padding-top: 1.76vw;
}

nav a {
  color: white;
  font-size: 1.45137vw;
  text-decoration: none;
  margin-right: 2vw;
  text-align: center;
}

nav a:last-child {
  background: rgba(255, 255, 255, 0.4);
  padding: 0 1.6vw;
}

.secundNav {
  display: flex;
  justify-content: space-between;
  padding: 0 5.3vw;
  align-items: baseline;
  /* padding-bottom: 1vw; */
  margin-top: -2.9vw;
}

.logo-container {
  display: flex;
  position: relative;
  top: 1vw;
}

.logo {
  width: 5.611998064828253vw;
  height: 5.660377358490567vw;
}

.logo-description-container h1 {
  color: white;
  font-family: serif;
  margin: 0;
  font-size: 2.902757vw;
  position: relative;
  top: -2vw;
  left: 0.5vw;
  height: 8vw;
}

.logoSpanOne {
  font-weight: 100;
  font-size: 1.741654571vw;
  position: relative;
  top: 0.81vw;
}

.logoSpantwo {
  font-weight: 100;
  font-size: 1.7vw;
  position: relative;
  top: -1.3vw;
}

.addYourIssuebox {
  display: flex;
  border: 0.2vw solid white;
  height: 3.214465vw;
  align-items: center;
}

.addYourIssuebox p {
  color: white;
  font-size: 1.4513788vw;
  margin: 0;
  padding: 0px 2vw;
}

.addYourIssuebox span {
  font-size: 1.6vw;
}

.donate {
  color: #ff2c39;
  background: white;
  display: flex;
  align-items: center;
  height: 100.5%;
  font-size: 1.209482vw;
  font-weight: 600;
  padding: 0 0.51vw;
  cursor: pointer;
}

/* main */
main {
  position: relative;
}

.portfoContent {
  width: 100%;
  display: flex;
  height: 38vw;
  /* flex-basis: 0; */
}

.portfoBox {
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  /* flex-basis: 100%; */
  width: 20%;
  overflow: hidden;
  height: 100%;
  /* flex-shrink: 0; */
  /* align-items: center; */
  /* flex-basis: 0; */
  /* flex-grow: 1; */
}

.portfoBox:hover {
  width: 24%;
}

.portfoBox img {
  transition: all 1s ease;
  /* width: 100%; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfoBox:hover img {
  cursor: pointer;
}

.portBoxOverlay {
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.portBoxOverlay::before {
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 20%;
  height: 180%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top: -120%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  z-index: 5;
  pointer-events: none;
}

.portBoxOverlay:hover:before {
  top: 100%;
  left: 100%;
}

.nameOfPerson {
  transition: 0.5s ease;
  font-family: 'Roboto-Black.ttf';
  color: white;
  font-size: 3.4833vw;
  writing-mode: tb;
  margin: 0;
  opacity: 0.07;
}

.portfoBox:hover .nameOfPerson {
  opacity: 1;
}

/* main end */
/* blog popup start*/
.blogPopUpContainer {
  transition: 1s ease;
  /* opacity: 0; */
  position: fixed;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  z-index: 3;
  top: 0;
  pointer-events: none;
  left: 0;
}

.blogPopUpContent {
  transition: 0.75s ease;
  /* border: 1px solid red; */
  background: White;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 68vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin-left: 16vw;
  top: -100%;
}

.blogPopUpContent::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  position: absolute;
}

.blogPopUpContent::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #888;
}

.blogPopUpContent h2 {
  font-size: 3.4833vw;
}

.blogPopUpContent p {
  width: 44vw;
  font-size: 1.384vw;
}

.popUpImage {
  width: 50vw;
  margin-top: 1.4043vw;
  flex-shrink: 0;
}

.popUpCloseButton {
  margin-top: 3vw;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  /* bottom: 1vw; */
  width: 11.52542vw;
  flex-shrink: 0;
  margin-bottom: 2vw;
  height: 3.00242vw;
  background: #ffae7f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpCloseButton:hover {
  filter: brightness(1.2);
}

.popUpCloseButton p {
  font-size: 1.4527vw;
  font-family: 'Lato-Bold';
  width: auto;
  margin: 0;
}

.bigClose {
  width: 20%;
  height: 2.66343vw;
  background: #ffd6bf;
  font-size: 1.74334vw;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  flex-shrink: 0;
  margin-bottom: 22vw;
  margin-top: 5vw;
}
